In [1]:
a=6
a

6

In [3]:
b=a
b

6

In [5]:
b='6'
b

'6'

In [34]:
a=[]

In [35]:
a

[]

In [36]:
for i in range (0,10):
    a.append(i)

In [37]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
arr=[]
for i in range(1):
    element=input("Ënter the string: ")
    arr.append(element)
    print("String: ",arr)

Ënter the string:  shaik

String:  ['shaik']

In [ ]:
ar=[]
for i in range(1):
    element=intput("Enter the string")

In [2]:
ar=[]
for i in range (1):
    element=int(input("Enter integer value: "))
    ar.append(element)
    print(ar)

Enter integer value:  34

[34]

In [5]:
# Basic python
A = 6
A

# Variable with string value
a = '10'
a

# Input from user (requires input)
b = int(input())
b

# Empty list creation
a = []
a

# Populating list using for loop
for i in range(0,10):
    a.append(i)
a

# Array of strings input
arr = []
n = int(input("Enter the number of string elements: "))
for i in range(n):
    element = input("Enter a string: ")
    arr.append(element)
print("Array of strings:", arr)

# Collecting student data: names, IDs, CGPAs
names, ids, cgs = [], [], []
for i in range(3):
    a = input("Enter a name: ")
    names.append(a)
    
    a = input("Enter an id: ")
    ids.append(a)
    
    a = input("Enter a CGPA: ")
    cgs.append(a)

print("Names:", names)
print("IDs:", ids)
print("CGPAs:", cgs)

# Creating dictionary from collected data
dict = {'Name': names, 'ID': ids, 'CGPA': cgs}
dict

# Creating pandas DataFrame
import pandas as pd
df = pd.DataFrame(data=dict)
df

# Export DataFrame to CSV file
df.to_csv('Testdata.csv')

# Random integer generation
import random
x = random.randint(25,30)
x

# Adding random age data to DataFrame
age = []
for i in range(0,3):
    x = random.randint(25,30) 
    age.append(x)
age

df["AGE"] = age
df

# Generating random dataset for medical parameters
age, hemoglobin, tg, cholestro = [], [], [], []
for i in range(10):
    x = random.randint(25,30) 
    age.append(x)
    a = random.uniform(10,18)
    hemoglobin.append(a)
    a = random.uniform(5,40)
    tg.append(a)
    a = random.uniform(10,60)
    cholestro.append(a)

dict = {'AGE': age, 'Hemoglobin': hemoglobin, 'TG': tg, 'Cholestro': cholestro}
df = pd.DataFrame(data=dict)
df

# Generating a random float between 0 and 1 rounded to 2 decimal places
x = round(random.random(), 2)
x

df

 12
Enter the number of string elements:  3
Enter a string:  shaik
Enter a string:  abdul
Enter a string:  ahad

Array of strings: ['shaik', 'abdul ', 'ahad']

Enter a name:  Chattagram
Enter an id:  02907666
Enter a CGPA:  3.90
Enter a name:  abd
Enter an id:  02965424
Enter a CGPA:  3.85
Enter a name:  dak
Enter an id:  3.60
Enter a CGPA:  6.36

Names: ['Chattagram', 'abd', 'dak']
IDs: ['02907666', '02965424', '3.60']
CGPAs: ['3.90', '3.85', '6.36']

   AGE  Hemoglobin         TG  Cholestro
0   25   13.111209   6.036666  38.524388
1   30   10.525557  25.634988  46.350548
2   27   12.062996  14.810511  24.064448
3   28   17.109337  14.068834  17.721746
4   28   11.213527  31.861445  19.632870
5   25   17.410931  35.480786  24.947339
6   30   15.379858  30.477922  59.872783
7   26   10.214620   7.083232  59.041249
8   27   10.406245  12.653956  32.739026
9   26   15.288985  24.367299  49.852894